<script language="JavaScript"> 
var customCameraHooks = {
  onComplete: function(response) {
  $('#next').css('visibility','visible');
}
};
</script>
<div class="alert alert-info">
<% if cookies[:lang] == "ukr" %>
  <h2>Дивись у камеру, посміхнись і нажми кнопку "Фото" коли будеш готовий ☺</h2>
<% else %>
  <h2>Смотри на камеру,улыбнись и нажми кнопку "Фото" когда будеш готов </h2>
<% end %>
</div>
<hr>
<div class="pagination-centered" >

  <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path, 
                              :on_complete => "customCameraHooks.onComplete") %>

<%= headshot_camera %>

<br/>
<hr>
<button name="button" onclick="headshotHandlers.snap()" type="submit" class="btn btn-success btn-large">Фото</button>
<button name="button" onclick="headshot.configure()" type="submit">Настройка</button>

</div>
<br  />
<hr>

  <div class="form-actions pagination-centered" >
    <% if cookies[:lang] == "ukr"%>
      <%= link_to 'Далі', next_wizard_path,:id=>"next", :class=> " btn btn-primary btn-large" , :style=>"visibility:hidden;"%>
    <% else %>
      <%= link_to 'Дальше', next_wizard_path,:id=>"next", :class=> " btn btn-primary btn-large" , :style=>"visibility:hidden;"%>
    <% end %>
  </div>
